#comment-form{

    width: 100%;
    height: 100%; 
    display: flex;
    
    flex-direction:row;
    justify-content: space-between;
}

#comment-textarea{
    width: 85%; 
    
    resize: none;
}

#submit-comment-component{
    
    padding:1%;
    border: 1px solid white;
    background-color: rgb(46, 46, 46);
    /* margin-bottom: 3em; */
    color:white;
}

#submit-comment-btn{
    width: 10%; 
    background: #eee;
    border: 0;
    
}

#display-comments-component{
    margin-top: 3em;
    padding: 1em;
    display: flex;
    flex-direction:column;
    justify-content: center;
}



.comment {
    
    
    display: flex;
    flex-direction:row;
    min-height:5em;
    width: 100%;
    margin-bottom: 2%;
    
}


.comment-content {
    
    display: flex;
    flex-direction:column;
    padding:1%;
    height: 100%;
    width:90%;
    color: white;
    background-color: #222222 ;
    border: 1px solid white;
    align-items: stretch;
}

.username {
    font-size: 2em;
    height: 2em;
}

.comment-text {
    font-size: 1em;
    min-height: 3em;
    word-break: break-all;
}

.image-div {
    /* border: 1px solid white; */
    width: 8%;
    height: 5em;
    width:auto;
}

.user-image {
    
    height: 100%;
    width: 100%;
        
}


@media screen and (max-width:800px)
    {

        #comment-form{
            width: 100%;
            height: 100%; 
            display: flex;
            flex-direction:column;
            
        }


        #comment-textarea{
            width: 100%;
        }

        #submit-comment-btn{
            width: 100%; 
            background: #eee;   
        }
        
    }