#games-pagination {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.pagination {
    margin: auto;
}

#gameContainer {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}