#individual-game-page {
    
    width: 90em;
    max-width:80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    margin-top:50px;
    margin-bottom: 4em;
}

#full-game-details{
    border-radius: 3px;
    margin-bottom: 2em;
    border: 2px solid #4b4b4b;
    background-color: rgb(67 67 67);
}

#top-div {
    width:100%;
    display:flex;
    flex-direction:column;
    margin-bottom: 1%;
}

#game-title-div {
    width: 100%;
    background-color: rgb(80, 1, 80);
    color: white;
}

#game-title {
    margin-left: 1%;
    font-size: 2em;
    margin-bottom: 1%;
}

#middle-div {
    width:100%;
    display:flex;
}
#game-image-div{
    width:48%;
    padding-left: 1%;
    padding-right: 1%;
}
#game-image {
    border-radius: 5px;
    width: 100%;
    border: 2px solid #505050;
}

#bottom-div {
    width:100%;
    height:200px;
    padding: 1%;
    display:flex;
    flex-direction: row;
}
#game-description {
    width: 49%;
    height: 90%;
    margin: auto;
    margin-left: 0;
    margin-right: 2%;
    overflow: auto;
    color: white;
    border: 1px solid #3b3b3b;
    font-size: 0.8em;
    padding: 1%;
    background-color: #3f3f3f;
    border-radius: 5px;
}

#game-description:focus { 
    outline: rgb(255, 255, 255) auto 5px 
}

@media screen and (max-width:800px) {
    #middle-div {
        flex-direction: column;
        flex-wrap: wrap;
   }
    #game-image-div{
        width:98%;
        padding-left: 1%;
        padding-right: 1%;
   }
    #bottom-div {
        flex-direction: column;
        flex-wrap: wrap;
        height:auto;
   }
    #game-description {
        width: 98%;
        
        margin: auto;
        margin-left: 0;
        margin-right: 3%;
        overflow: auto;
        color: white;
    }
}
