.comment {
    
    
    display: flex;
    flex-direction:row;
    min-height:5em;
    width: 100%;
    
}


.comment-content {
    
    display: flex;
    flex-direction:row;
    padding:1%;
    height: 100%;
    color: white;
    background-color: rgb(67 67 67);
    align-items: stretch;
    border-radius: 5px;
    border: 2px solid #4b4b4b;
    width: 93%;
    margin: auto;
}

.username {
    font-size: 1em;
    height: 2em;
    font-weight: 700;
}

.comment-text {
    font-size: 1em;
    min-height: 3em;
    word-break: break-all;
}

.image-div {
    height: 6em;
    width: auto;
    margin-right: 1em;
    align-self: center;
}

.user-image {
    height: 6em;
    width: 6em;
    border-radius: 50px; 
}
