#footer {
    height: 13em;
    background: #1a1a1a;
    margin-top: 1%;
    color: white;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#top {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
}

#bottom {
    text-align: center;
}

#logo-footer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#slogan {
    text-align: center;
    font-size: larger;
    margin-top: 0;
    color: #800980;
    font-weight: bold;
}

.authors {
    margin-top: 4%;
    font-size: larger;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.author {
    margin-top: 0;
    margin-bottom: 0;
}

#authors-title{
    color: #800980;
    font-weight: bold;
}

hr {
    margin: auto;
    width: 80%;
}

#copyright {
    margin-top: 0;
}

#dataset {
    margin-bottom: 0;
}

a {
    color: rgb(128, 32, 128);
}

