#game-filter-form-component{
    position: absolute;
    z-index: 1;
    background-color: #4a0251;
    color: white;
    padding: 1em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    border: 2px solid black;
    width: 25em; 
}

#filter-form {
    display: block;
    width: 100%;
}

#categories{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}

.subcategorydiv{ 
    margin: 1%;
    max-height: 7em;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#filterSubmitButton{
    width: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    color: #4a0251; 
    text-align: center;   
}


#filter-form label{
    display: flex;
    flex-direction: row; 
}

#filter-form input {
    margin-right: 7px;
}