#game-filter-component {
    height: 100%;
    width: 100%;
    background-color: rgb(80, 1, 80);
    z-index: 3;
    display: block;
}

#game-filter-button {
    background-color: rgb(80, 1, 80);
    color: #f2f2f2;
    border: none;
    font-weight: 500;
    font-size: 17px;
    font-family: system-ui;
    text-align: center;
    padding: 15px 36px;
}


#game-filter-button:hover {
    background-color: #ddd;
    cursor: pointer;
    color: purple;
}