#classify-game-div {
    width: 45%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
}

#game-score-div {
    width: 90%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#game-score-sub-div {
    width: 7.3em;
}

#like-game-div {
    width: 7.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#favorite-game-div {
    width: 7.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game-score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    width: 100%;
    color: white;
    font-size: 2em;
}



#like-button {
    height: 4em;
}

#favorite-button {
    height: 4em;
}

#like-button:hover {
    filter: brightness(80%);
}

#favorite-button:hover {
    filter: brightness(80%);
}

#user-catalogue-div {
    width: 90%;
    display: flex;
    padding: 1em;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}



.catalogueBTNLabel {
    text-align: center;

    height: 100%;
    font-size: 1.2em;
    color: white;
    width: 6.4em;
    height: 3em;
    position: relative;
    border: 0.1em solid #4f4f4f;
    background-color: #686868;

    border-radius: 5px;

}

.catalogueBTNLabel:hover {
    filter: brightness(80%);
}

.bookmarkBTNLabel:hover {
    filter: brightness(80%);
}

#completedBTN:focus { 
    outline: rgb(255, 255, 255) auto 5px 
}

#playingBTN:focus { 
    outline: rgb(255, 255, 255) auto 5px 
}

.bookmarkBTNLabel {
    text-align: center;
    padding: auto;
    height: 100%;
    font-size: 1.2em;
    color: white;
    width: 6.4em;
    height: 3em;
    position: relative;

    border: 0.1em solid #4f4f4f;
    background-color: #686868;

    border-radius: 5px;
}

#bookmarkBTN:focus { 
    outline: rgb(255, 255, 255) auto 5px 
}

.preferenceInput {
    height: 1.2em;
    opacity: 0;
    margin-bottom: 0;
    margin-top: 0;

}

.catalogueBTNLabel.checked {
    border: 0.1em solid #4f4f4f;
    background-color: rgb(96, 27, 96);
}

.bookmarkBTNLabel.checked {
    border: 0.1em solid #4f4f4f;
    background-color: #a51818;
}

.liked {
    filter: brightness(100%) invert(55%) sepia(5%) saturate(6230%) hue-rotate(190deg) contrast(108%);
}

.fav {
    filter: invert(0%) sepia(28%) saturate(5430%) hue-rotate(357deg) brightness(109%) contrast(108%);

}

.loading-msg {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

@media screen and (max-width:800px) {

    #classify-game-div {
        width: 98%;
    }

}