.gameCard {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background-color: rgb(61, 9, 61);
    width: 21em;
    text-align: center;
    overflow: hidden;
    margin-top: 2%;
}

.gameCard:hover .tooltip {
    opacity: 1;
}

.gameTitle {
    display: inline-block;
    margin-top: auto;
    text-align: center;
    height: 0.5em;
    color: rgb(232, 230, 230);
    padding: 1%;
}

.gameImg {
    display: block;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 700px) {
    #gameContainer {
        justify-content: center;
    }

    .gameCard {
        width: 50%;
    }
}