#game-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 1%;
}
#game-info > div {
    font-size: small;
    color: rgb(255 255 255 / 67%);
    display: flex;
    font-size: 1em;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2%;
}
.info-subtitle {
    justify-content: space-between;
    width:23%;
}
.info-content {
    width:73%;
}

@media screen and (max-width:800px) {
    #game-info {
        border: 1px solid rgba(172, 172, 172, 0.671);
        width:100%;
   }
}

