.favorite {
  width: 20em;
  border: 2px solid black;
  border-radius: 5px;
}

/* .pfp{
  width:25em;
  border:1px solid black;
  margin-top: 2%;
} */

.pfp{
  /* height: 90%; */
  width:19em;
  height:19em;
  margin-top: 2%;
  border-radius: 50%;
  border: 4px solid #130128;
  object-fit: cover;
}


label,input{
  display:flex;
  flex-direction:column;
}

#edit_button {
  width: 7em;
  height: 2em;
  background: #a371d4;
  font-weight: bold;
  border-radius: 25px;
}

.form label {
  margin-top: 2em;
}

.form fieldset {
  border:none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.form{
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:stretch
}