form {
    display: flex;
    flex-direction: row;
    flex: 2 0;
    justify-content: flex-end;
    margin-right: 1em;
}

#searchBar {
    height: 40%;
    width: 40%;
    margin-top: 1.5em;
}

#searchBtn {
    height: 40%;
    width: min-content;
    text-align: center;
    padding-top: 0.55em;
    margin-top: 1.5em;
    margin-left: 25px;
    background-color: rgb(80, 1, 80);
    color: white;
    border: 0.5px solid white;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #searchBar {
        width: 10em;
    }

}