/* Dropdown menu styles */

#dropdown {
    position: absolute;
    display: inline-block;
}

#dropdown:focus #dropdown-form {
    display: block;
}

#dropdown:focus-within #dropdown-form {
    display: block;
}

#dropdown-form {
    background-color: #4a0251;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    color: white;
    border: 2px solid black;
    padding: 10px;
}

.dropdown-input {
    display: inline-block;
    margin-bottom: 1em;
}

.dropdown-labels {
    display: inline;
    margin-left: 1em;
}

#dropdown:hover #dropdown-form {
    display: block;
}

#submit-btn {
    color: #4a0251;
    margin-top: 5px;
    padding-left: 40%;
    width: 100%;
    height: 2em;
    padding-top: 2.5%;
    cursor: pointer;
}