#submit-comment-container {
    width:100%;
    display: flex;
    justify-content:center;
}

#comment-form{

    width: 100%;
    height: 100%; 
    display: flex;
    
    flex-direction:row;
    justify-content: flex-start;
}

#send-img {
    height: 3em;
    width: 3em;
    filter:brightness(1.5) hue-rotate(30deg);
}

#send-img:hover {
    height: 3.2em;
    width: 3.2em;
    filter:brightness(2) hue-rotate(30deg);
}

#comment-textarea{
    width: 85%;
    resize: none;
    background-color: #565656;
    border-radius: 4px;
    height: 3em;
    color: white;
    border: 1px solid #6f6f6f;
    padding-left: 1em;
    padding-top: 1em;
}

#comment-textarea::placeholder {
    color: rgb(197, 197, 197);
  }

#submit-comment-component{
    width: 100%;
    border-radius: 5px;
    padding-left: 1%;
    border: 2px solid #4b4b4b;
    background-color: rgb(67 67 67);
    color: white;
    padding-bottom: 1%;
}

#leave-comment-h2 {
    color:white;
}

#submit-comment-btn{
    all: unset;
    background-color: rgb(67 67 67);
    margin-left: 1em;
    height:1em;
}

#submit-comment-btn:focus { 
    outline: rgb(255, 255, 255) auto 5px 
}


@media screen and (max-width:800px)
    {

        #comment-form{
            width: 100%;
            height: 100%; 
            display: flex;
            flex-direction:column;
            
        }


        #comment-textarea{
            width: 100%;
        }

        #submit-comment-btn{
            width: 100%; 
            background: #eee;   
        }
        
    }