h2 {
    color: #9508a3;
    height: 1.5em;
    overflow: hidden;
    margin-top: 10px;
}

.tooltip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #222;
    overflow: hidden;
}

.tooltipText {
    position: absolute;
    width: 95%;
    color: #fff;
    font-size: 1em;
    left: 50%;
    height: 40%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 11px;
}