.flex-container {
    display: flex;
    background-color: rgb(251, 252, 252);
    margin-left: 11%;
    margin-right: 11%;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-left: 2%;
    margin-right: 11%;
}

#main-container {
    border: 7px solid rgb(80, 79, 79);
    border-radius: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.flex-left{
    flex:0.4;
    display:flex;
    flex-direction: column;
}

.flex-right{
    flex:.6;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}

.small {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.gameImage {
    width: 30%;
    border-radius: 3px;
    border: 1px solid black;
    margin: 0.5%;
}

.infoBox{
    flex:0.7;
    display:flex;
    flex-direction:column;
    text-align: center;
}

.faveBox {
    text-align: center;
    flex: 0.3;
    padding-bottom: 0.5em;
}

.see-all-link {
    margin-left: 80%;
    margin-bottom: 1%;
}

.seeAll {
    background: none;
    border: none;
    color: rgb(165, 105, 189);
    font-weight: 500;
    position: absolute;
}

.seeAll:hover {
    color:rgb(46, 64, 83);
    font-weight: bolder;
}

hr {
    width: 90%;
    margin-left: 1em;
}

.game-row-div {
    flex: 1 1 10em;
    padding-left: 1em;
    padding-bottom: 1em;
    position: relative;
}

.game-row-title {
    margin-bottom: 0;
}

@media screen and (max-width:800px) {
    .seeAll {
        bottom: 0;
        left: 37%;
    }

    .gameImage {
        width: 100%;
    }
}

@media screen and (max-width:600px) {

    .flex-left,
    .flex-right {
        margin: auto;
    }

    .flex-container {
        flex-wrap: wrap;
    }
}