.user-card {
  align-items: center;
  border: 2px solid #31363f;
  display: flex;
  flex-direction: row;
  height: 10em;
  margin: 5% auto auto;
  width: 90%;
  background-color: #242527;
  border-radius: 5px;
}

.user-name-and-bio {
  display: flex;
  flex-direction: column;
  width: 75%;
  min-width: 25%;
  height: 90%;
  overflow: auto;
  margin-right: 1em;
  margin-left: 1em;
}

.user-pfp {
  height: 8em;
  width: 8em;
  border-radius: 75px;
  margin-left: 5%;
  object-fit: cover;
}

.user-name-container {
  color: #dc6fdc;
  height: 1.5em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
}

.user-bio-container {
  margin-top: 1em;
  overflow-wrap: break-word;
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: small;
}

.user-bio-text {
  max-width: fit-content;
  color: aliceblue;
}

.user-name-text {
  font-size: large;
  font-weight: bold;
}

.user-ban-button {
  background: #836e8e;
  border: 1px #2a0038 solid;
  border-radius: 5px;
  color: #44005a;
}